.about {
  margin-bottom: 55px;
}

.about__preview {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about__preview::before {
  flex: 1;
  content: "";
  max-width: 490px;
  height: 505px;
  background: url("../img/main/gates.jpg") center center / cover no-repeat;
  z-index: 0;
  border-radius: 5px;
}

.about__preview-wrapper {
  max-width: 780px;
  background: url("../img/main/mountains.jpg") center center / cover no-repeat;
  ;
  padding: 70px 200px 70px 80px;
  margin-left: -140px;
  border-radius: 5px;
  z-index: 10;
  margin-top: 100px;
}

.about__text {
  color: #060606;
  font-size: 16px;
  line-height: 27px;
  padding-bottom: 40px;
}

.about_button {
  padding: 18px 40px;
  ;
}