.footer {
  width: 1140px;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.footer::before {
  content: "";
  height: 1px;
  background: #192f37;
  margin-bottom: 45px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__col {
  display: flex;
  align-items: center;
  justify-content: center;
}
