.hero {
  height: 412px;
  display: flex;
  flex-direction: column;
}

.hero__container {
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
}