.offer {
  padding: 30px 15px 25px 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.offer__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

.offer__features {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.offer__feature {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.offer__icon {
  max-height: 26px;
}

.offer__desc {
  margin-left: 10px;
  color: #666;
  font-size: 16px;
}

.offer__text {
  color: #303030;
  margin-bottom: 25px;
}

.offer__button {
  margin-top: auto;
}