.container_partnership {
  flex-direction: column;
}

.partnership__title {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 80px;
}

.partnership__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.partnership__item {
  padding-bottom: 80px;
  min-width: 250px;
  /* flex: 1; */
}