
.about {
  display: inline-block;
  width: 1140px;
  min-height: 552px;
  margin-bottom: 55px;
}

.about::before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 490px;
  height: 505px;
  background: url("../img/main/gates.jpg") center center / cover no-repeat;
  z-index: -10;
  border-radius: 5px;
}

.about__preview {
  display: inline-block;
  vertical-align: top;
  width: 785px;
  min-height: 455px;
  background: url("../img/main/mountains.jpg") center center / cover no-repeat;;
  padding: 68px 203px 66px 81px;
  margin-left: -140px;
  margin-top: 97px;
  border-radius: 5px;
}

.button__about {
  margin-bottom: 0px;
}

.title_dark {
  font-size: 36px;
  line-height: 49px;
  color: #000;
  margin-bottom: 40px;
}

.about__text {
  color: #060606;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 40px;
}

.about__text p {
  margin: 0;
  margin-bottom: 40px;
}

.about__text p:last-child {
  margin-bottom: 0px;
}