.breadcrumbs__list {
  display: flex;
  color: #9A9A9A;
  margin-bottom: 25px;
}

.breadcrumbs__item::after {
  content: '/';
  margin-right: 3px;
}

.breadcrumbs__item:last-child:after {
  content: '';
}

.breadcrumbs__item_active {
  font-weight: bold;
}

.breadcrumbs__link, .breadcrumbs__current-page {
  text-decoration: underline;
}

.breadcrumbs__current-page {
  cursor: default;
}