.form__row {
  display: flex;
}

.form__input {
  flex: 1;
  margin-right: 30px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #1A1B1E;
  border-radius: 5px;
  border: none;
  padding: 20px 30px;
}

.form__input:focus {
  outline-color: #F5170E;
}

.form__input::placeholder {
  color: #666;
}

.form__input:last-child {
  margin-right: 0px;
}

.form__input_textarea {
  min-height: 235px;
}

.form__controls {
  display: flex;
  margin-bottom: 30px;
}

.form__buttons {
  display: flex;
  justify-content: flex-end;
}

.form__button {
  min-width: 170px;
  margin-right: 20px;
  color: #fff;
}

.form__button:last-child {
  margin-right: 0px;
}

.controls {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}

.form__controls_title {
  max-width: 420px;
  color: #1A1B1E;
  font-size: 18px;
  margin-right: 70px;
}

.controls__element {
  cursor: pointer;
}

.controls__checkbox:checked~.controls__tag {
  background-color: #B9EAE4;
}

.controls__checkbox {
  display: none;
}

.button_dark {
  background-color: #8E8E8E;
}

.button_dark:hover {
  background-color: #2B2B2B;
}