
.menu {
  margin-left: 80px;
}

.menu__item {
  display: inline-block;
  margin-right: 55px;
}

.menu__item:last-child {
  margin-right: 0px;
}

.menu__link:hover {
  color: #DA0100;
}

/* .menu__link_active {
  color: #DA0100;
} */